# Global ignores for the whole project
.DS_Store
.env
*.env
*.log

# Node.js
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
.venv/

# Serverless
.serverless/

# VSCode
.vscode/

# Amplify Gen 2 (frontend)
frontend/amplify/node_modules/
frontend/amplify/package-lock.json
frontend/amplify/dist/
frontend/amplify/.ampx/
